body{
    background-color: #a7edff
}

h1{
    color: #046b9e;
    font-family: "Lilita One", serif;
    text-align: center;
   font-size: 50px;
   transition: transform 0.3s ease-in-out;
   position: relative;
   animation: scaleAnimation 2s infinite;
}
@keyframes scaleAnimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);
    }
    100%{
        transform: scale(1);
    }
}

img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  border: #034771 4px solid;
  border-radius: 999px;
  transition: transform 0.3s cubic-bezier(0, 2.11, 1,-0.86);
}

a{
    display: inline-block;
    color: #034771;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    transition: transform 0.3s ease-in-out;
}

strong{
    color: #03395b;
    font-family: "Roboto", serif;
    font-weight: 1100;
    text-align: center;
    font-size: 26px;
}

li{
    color: #03395b;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
}
ul{
    color: #03395b;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
}
ol{
    color: #03395b;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
}
a:hover{
    animation: colorchange 1s ;
   
    transform: scale(1.03);
    animation: shake 1s;
    animation-iteration-count: infinite;
    transition-property: color;
transition-duration: 1s;
transition-timing-function: ease-out;
   


}
a:hover {
    animation: colorChange 5s ease-in-out;
}

@keyframes colorChange {
    
    50% { color: rgb(92, 0, 121); } /* Purple */
    33% { color: rgb(0, 21, 92); } /* Purple */
}

a:hover::after {
    content: "🔗"; /* Adds an emoji when hovered */
}


#mrBeast {

    display: inline-block;
    position: relative;
  
    animation: slideInFromCenter 5s forwards, appear 3s forwards;
    position: relative;
    margin-left: auto;
    margin-right: auto;
   
}
@keyframes slideInFromCenter {
 

        to{transform: translateX(center)};
    
}

@keyframes appear {
from {
    opacity: 0;
}

    to {
        transform: translateX(250px);
        opacity: 1;
    }

}

h1:hover{
    animation: colorchange 1s ;
    color: #06629b;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
 text-shadow: 0px 0px 50px #47b9ff
}

@keyframes framesrotate {
    animation-iteration-count: infinite;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

img:hover{
    animation: image 1s;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 50px #02253a
}
#mrBeast:hover{
    animation: rotate 2s;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 50px #02253a
 
   

}
@keyframes rotate{
    67%{transform: rotateZ(360deg);}
    
}
#latestVideo{
    display: inline-block;
    position: relative;
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    animation: slidein 5s forwards, appear 3s forwards;
}

@keyframes slidein {
    50 {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

p{
    color: #034771;
    font-family: "Roboto", serif;
    font-weight: 700;
    text-align: center;
    font-size: 26px;
 
}

p:hover{
    animation: size 5s ;
    color: #034771;
    font-family: "Roboto", serif;
    font-weight: 700;
 
}
@keyframes size {
70% {font-size: 35px;}


}
li:hover{
    animation: size 5s ;
    color: #034771;
    font-family: "Roboto", serif;
    font-weight: 700;
 
}
a:hover{
    animation: size 5s ;
    color: #034771;
    font-family: "Roboto", serif;
    font-weight: 700;
 
}